@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

/* Main color palette + white/black */
.color1 {color: #e9d8ff;}
.color2 {color: #fffbff;}
.color3 {color: #1d1832;}
.color4 {color: #78767c;}
.color5 {color: #e2e2e2;}
  
.header {
  min-height: 100px;
  background-color: #1d1832;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
  
.logo {
  max-width: 150px;
  margin-left: 2.5rem;
}
  
.main-menu {
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
  
.reader-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.controls-button {
  background-color: #1d1832;
  color:white;
  border-radius: 9999px;
  min-width: 150px;
  min-height: 50px;
}